:root {
    --global-primary-color: #0B57D0;
    --global-secondary-color: #E5EDFF;
    --global-tertiary-color: #F3F5F6;

    --local-font-color: #474747;
    --local-font-family: 'Lato', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-size: 14px;
    font-family: var(--local-font-family);
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator__screen {
    width: 100%;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid #D2D2D2;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.calculator__screen__historic {
    margin: 0;
    padding: 0;
    height: 16px;
}

.calculator__screen__result {
    text-align: end;
    font-size: 30px;
    line-height: 24px;
}

.calculator__screen__result:focus {
    outline: none;
}

.calculator__values {
    gap: 4px;
    width: 100%;
    margin: 12px;
    display: flex;
    flex-direction: column;
}

div.row {
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 8px 2px;
    border-radius: 18px;
    width: calc(25% - 3px);
    cursor: pointer;
    text-align: center;
    user-select: none;
    color: var(--local-font-color);
    background-color: var(--global-tertiary-color);
    transition: 200ms;
}

button:hover {
    background-color: #DEE1E3;
}

.calculator__values__special,
.calculator__values__aritmetic {
    background-color: var(--global-secondary-color);
}

.calculator__values__special:hover,
.calculator__values__aritmetic:hover {
    background-color: #D3E3FD;
}

.calculator__values__result {
    color: white;
    font-size: 18px;
    padding: 5.5px 2px;
    background-color: var(--global-primary-color);
}

.calculator__values__result:hover {
    color: white;
    background-color: #4c79c6;
}